@using Microsoft.AspNetCore.Html;
<div class="advisor_section_2 layout_padding">
    <div class="container">
        <div class="box_section">
            <div class="row">
            @(new HtmlString(ViewData["Content"].ToString()))
            </div>
        </div>
    </div>
</div>
